/* mobile-screen-media */

/* tablet-screen-media */
@media all and (max-width: 768px) {
  .nav-bar > .box-group:nth-child(2) {
    display: none;
  }

  .nav-bar .white-box .mobile-btn {
    display: block;
  }

  .nav-bar .white-box .pc-btn {
    display: none;
  }
}

/* PC-screen-media */
@media all and (max-width: 1024px) {
  .nav-bar > .box-group:nth-child(1),
  .nav-bar > .box-group:nth-child(4) {
    display: none;
  }
  .nav-bar > .box-group:nth-child(2) {
    width: 100%;
  }
}
