@font-face {
  font-family: "DNFForgedBladeLight";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "DNFForgedBladeNormal";
  font-style: normal;
  font-weight: 500;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf")
    format("opentype");
}

@font-face {
  font-family: "DNFForgedBladeBold";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf")
    format("opentype");
}

/* contact-main area */
.contact-main {
  display: flex;
  width: 100vw;
  height: 800px;
  margin-top: 100px;
  user-select: none;
}

/* contact-header area */
.contact-main > .contact-header {
  width: 30vw;
  height: 100%;
  text-align: center;
}

.contact-main > .contact-header > h1 {
  font-size: 70px;
  font-style: italic;
  font-weight: 700;
  color: var(--color-text);
}

.contact-main > .contact-header > p {
  font-family: "DNFForgedBladeNormal";
  font-size: 20px;
  color: var(--color-text);
}
/* // contact-header area */

/* contact-section area */
.contact-main > .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 700px;
}

/* form area */
.contact-section > form {
  width: 60vw;
  height: 500px;
  border-radius: 30px;
  border: 5px solid var(--color-border1);
}

.contact-section fieldset > div {
  width: 50vw;
  height: 50px;
  margin: 0 auto;
  padding-top: 20px;
  border-bottom: 4px solid var(--color-border1);
}

.contact-section fieldset > div:last-child {
  border: none;
}

.contact-section fieldset > div > label {
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
  color: var(--color-des);
}

.contact-section fieldset > .content-box {
  display: flex;
  height: 200px;
}

.contact-section fieldset > .content-box > textarea {
  margin-left: 10px;
}

.contact-section fieldset .btn-box {
  display: flex;
  justify-content: end;
}

.btn-box > .btn-send {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  background-color: var(--color-border1);
  font-style: italic;
  font-size: 25px;
  font-weight: 400;
  color: var(--color-bg);
  cursor: pointer;
}
/* //contact-section area */
/* // contact-main area */
