/* Normalize_start */
* {
  font-family: "Libre Baskerville", serif;
  user-select: none;
  cursor: none;
}

/* Normalize_end */

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mouseCursor_Area */
.mouseCursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouseCursor > i {
  font-size: 30px;
}

/* aboutBox_Area */
.aboutBox {
  z-index: -1;
  position: absolute;
  top: 12%;
  width: 100%;
  height: 88%;
}

/* aboutHeader_Area */
.aboutHeader {
  text-align: center;
  color: #9b7e4b;
  font-size: 1.5rem;
  margin: 20px 20px;
}

/* aboutContainer_Area */
.aboutBox .aboutContainer {
  width: 100%;
  height: 700px;
  margin: 0;
  display: flex;
}

/* aboutShow_Area */
.aboutContainer .aboutShow {
  width: 40%;
  background: url("../img/imgBoxBoard.jpg");
  background-size: cover;
  border: 3px solid gold;
  position: relative;
}

.aboutShow::before {
  /* aboutSHow의 배경화면에 투명도를 주기 위한 CSS */
  content: "";
  opacity: 0.7; 
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}

.aboutShow > div {
  position: absolute;
  width: 400px;
  display: none;
}

.aboutShow #imgBox1 {
  top: 40px;
  left: 30px;
  width: 400px;
}

.aboutShow #imgBox2 {
  top: 80px;
  right: 60px;
  width: 300px;
}

.aboutShow #imgBox3 {
  top: 160px;
  left: 70px;
  width: 350px;
}

.aboutShow #imgBox4 {
  top: 200px;
  right: 90px;
  width: 400px;
}

.aboutShow #imgBox5 {
  top: 240px;
  left: 90px;
  width: 400px;
}

.aboutShow #imgBox6 {
  top: 300px;
  right: 50px;
  width: 350px;
}

.aboutShow #imgBox7 {
  top: 350px;
  right: 150px;
  width: 250px;
}

.aboutShow img {
  width: 100%;
  border-radius: 25px;
}

/* aboutContent_Area */
.aboutContainer .aboutContent {
  width: 60%;
  border: 3px solid red;
}

.aboutContent > h4 {
  color: #9b7e4b;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 20px;
}

.aboutContent > p {
  margin-top: 90px;
  margin-left: 20px;
  font-family: "Noto Serif KR", serif;
  color: #bda486;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 35px;
}

.aboutContent span {
  font-family: "Noto Serif KR", serif;
  color: #9b7e4b;
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: underline;
}

.aboutContent span:hover {
  color: #ffce78;
}

/* media */
@media screen and (max-aspect-ratio: 11/6) {
  .aboutBox {
    margin-left: 20%;
  }
}

@media screen and (max-aspect-ratio: 9/6) {
  .aboutBox {
    margin-left: 15%;
  }
}

@media screen and (max-aspect-ratio: 7/6) {
  .aboutBox {
    margin-left: 10%;
  }
}

@media screen and (max-aspect-ratio: 5/6) {
  .aboutBox {
    margin-left: 0;
    left: 46%;
  }

  .aboutBox .aboutArticle > p {
    font-size: 0.78rem;
    line-height: 25px;
  }

  .aboutBox .aboutArticle > p > span {
    font-size: 0.8rem;
  }
}
