/* Normalize_start */
* {
  font-family: "Libre Baskerville", serif;
  user-select:none;
  cursor: none;
}
/* Normalize_end */

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mouseCursor_Area */
.mouseCursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouseCursor > i {
  font-size: 30px;
}

/* carrerSection_Area */
.carrerSection {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 2200px;
  top: 15%;
  overflow-y: scroll;
}

/* scroll_Area */
.section::-webkit-scrollbar {
  width: 16px;
}

.section::-webkit-scrollbar-track {
  background-color: #453630;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.section {
  scrollbar-color: #D4AA70 #453630;
}

.section::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #9b7e4b 0%, #453630 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

/* carrerHeader_Area */
.carrerSection .carrerHeader {
  text-align: center;
  width: 100%;
}

.carrerHeader > h1 {
  color: #9b7e4b;
  font-size: 3rem;
  margin: 20px 20px;
}

/* carrerArticle_Area */
.carrerSection .carrerArticle {
  position: relative;
  width: 100%;
  height: 120%;
}

.carrerArticle .whiteBox {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f4f2ec;
  border: 6px solid #453630;
  border-left: none;
  border-bottom: none;
}

.carrerArticle .whiteBox:first-child {
  border-top: 5px solid #453630;
}

/* blackBox_Area */
.carrerArticle .blackBox {
  position: absolute;
  width: 55%;
  right: 0;
  height: 300px;
  background-color: black;
  border: 2px solid black;
  transition: width 1s;
}

.carrerArticle .blackBox:nth-child(2) {
  z-index: 2;
  top: 70px;
}

.carrerArticle .blackBox:nth-child(4) {
  z-index: 2;
  top: 460px;
}

.carrerArticle .blackBox:nth-child(6) {
  z-index: 2;
  top: 850px;
}

/* contentBox_Area */
.carrerArticle .contentBox {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 700px;
  height: 100%;
}

.contentBox > .img {
  flex: 0.8;
  margin: 20px 87.5px;
  transition: margin 1s;
}

.contentBox > .img > img {
  width: 100%;
  height: 100%;
}

.contentBox > .content {
  flex: 1.2;
}

.contentBox > .content > h2 {
  color: #9b7e4b;
  margin-left: 0;
  margin-top: 40px;
}

.contentBox > .content > p {
  font-family: 'Noto Serif KR', serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 35px;
  margin-top: 50px;
}

.carrerArticle .blackBox .content > h2 {
  color: #f8efce;
}

.carrerArticle .blackBox .content > p {
  color: white;
}

/* media */
@media screen and (max-aspect-ratio: 11/6) {
  .carrerArticle .blackBox {
    width: 50%;
  }
}

@media screen and (max-aspect-ratio: 9/6) {
  .carrerArticle .blackBox {
    width: 45%;
  }

  .carrerArticle .contentBox > .img {
    flex: 0.3;
    margin: 30px 30.5px;
  }
}

@media screen and (max-aspect-ratio: 7/6) {
  .carrerArticle .blackBox {
    width: 50%;
  }

  .carrerArticle .content > p {
    margin-top: 15px;
    font-size: 1rem;
  }
}

@media screen and (max-aspect-ratio: 5/6) {
  .carrerArticle .whiteBox {
    height: 200px;
  }
  
  .carrerArticle .whiteBox:nth-child(8) {
    display: none;
  }

  .carrerArticle .blackBox {
    width: 100%;
    height: 200px;
    position: relative;
  }

  .carrerArticle .blackBox:nth-child(2) {
    z-index: 2;
    top: 0;
  }

  .carrerArticle .blackBox:nth-child(4) {
    z-index: 2;
    top: 0;
  }

  .carrerArticle .blackBox:nth-child(6) {
    z-index: 2;
    top: 0;
  }

  .carrerArticle .content > p {
    font-size: 1.3rem;
  }

  .carrerArticle .whiteBox {
    border: none;
  }
}
