/* normalize-area */
* {
  margin: 0;
  padding: 0;
  cursor: none;
}

body {
  background-color: var(--color-main);
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

/* 화면 전환 CSS */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* color */
:root {
  --color-main: #f3f4e9;
  --color-text: #416d83;
}

/* header-area */
header {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
}

header > .logo {
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: center;
}

header > .logo > img {
  width: 45px;
  height: 45px;
}

header > .title-text {
  display: flex;
  flex-grow: 1;
  justify-items: center;
  align-items: center;
}

header > .title-text > h1 {
  z-index: 10;
  text-align: center;
  color: var(--color-text);
  font-size: 4rem;
  user-select: none;
}

header > .title-text h1 {
  font-size: 2rem;
}

.main-text {
  margin-top: 50px;
  border-right: 0.05em solid black;
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  user-select: none;
}

/* mouse-cursor-area */
.mouse-cursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

.mouse-cursor > i {
  font-size: 30px;
}

/* navBar-area */
.nav-bar {
  border: 3px solid var(--color-main);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  display: flex;
  transition: height 0.5s;
}

.nav-bar > .box-group {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

/* 모바일 버전 메뉴바 축소를 위한 CSS */
.nav-bar > .box-group:nth-child(1),
.nav-bar > .box-group:nth-child(2),
.nav-bar > .box-group:nth-child(4) {
  display: none;
}

/* navBar_white-box-area */
.nav-bar .white-box {
  position: relative;
  flex: 1;
  border: 4px solid var(--color-main);
  width: 100%;
  height: 100%;
  background-color: var(--color-text);
}

.nav-bar .white-box:hover {
  background: linear-gradient(to bottom, var(--color-main), var(--color-text));
}

/* navBar_black-box-area */
.nav-bar .black-box {
  position: absolute;
  width: 9%;
  height: 50%;
  background-color: var(--color-main);
  top: 1;
}

/* black-box 위치 지정 CSS */
.black-box:nth-child(8) {
  left: 9.97%;
}

.black-box:nth-child(9) {
  left: 23.9%;
}

.black-box:nth-child(10) {
  left: 52.5%;
}

.black-box:nth-child(11) {
  left: 66.8%;
}

.black-box:nth-child(12) {
  left: 80.8%;
}

/* nav-bar-animation-area */
.nav-bar .animation {
  position: absolute;
  top: -45px;
  width: 40px;
  height: 40px;
  color: var(--color-text);
  font-size: 200%;
  visibility: hidden;
  transition: color 0.2s, transform 2s;
}

.white-box:hover > .animation {
  visibility: visible;
  transform: translateY(-50px);
  color: var(--color-text);
}

.nav-bar .mobile-ani {
  display: block;
}

/* nav-bar-button-area */
.nav-bar .white-box > button {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 5%;
  width: 90%;
  height: 40px;
  border: 2px solid var(--color-main);
  background: none;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.nav-bar .white-box > button:hover {
  background-color: var(--color-main);;
  border: 0.5px solid var(--color-text);;
}

.nav-bar .white-box > button:hover > i {
  color: var(--color-text);
  transition: color 0.3s;
}

.nav-bar .btn-text {
  position: absolute;
  left: -1px;
  top: -240px;
  background-color: var(--color-main);
  color: var(--color-main);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  visibility: hidden;
  user-select: none;
  transition: color 0.3s, visibility 1s, transform 1s;
}

.nav-bar .white-box > button:hover .btn-text {
  justify-content: center;
  visibility: visible;
  transform: translateY(-30px);
  color: var(--color-text);
}

/* mobile-btn-area */
.nav-bar .white-box .mobile-btn {
  display: block;
}

.mobile-btn .mobile-btn-text {
  color: var(--color-main);
  font-size: 1.2em;
}

.mobile-btn:hover .mobile-btn-text {
  color: var(--color-main);
}

.nav-bar .white-box > .pc-ani-hidden {
  display: block;
}

@media all and (min-width: 768px) {
  .nav-bar > .box-group:nth-child(2) {
    display: flex;
  }
}

/* pc-screen-media */
@media all and (min-width: 1024px) {
  .nav-bar .white-box > .mobile-btn {
    height: 43px;
  }
}

/* large-pc-screen-media */
@media all and (min-width: 1440px) {
  header > .title-text > h1 {
    font-size: 4rem;
  }

  .nav-bar > .box-group:nth-child(1) {
    display: flex;
  }

  .nav-bar > .box-group:nth-child(3),
  .nav-bar > .box-group:nth-child(4) {
    display: flex;
  }

  .nav-bar .white-box .mobile-btn {
    display: none;
  }

  .nav-bar .white-box .pc-btn {
    display: block;
    border-radius: 50%;
  }

  .nav-bar .white-box > .pc-ani-hidden {
    display: none;
  }

  .nav-bar .white-box > .pc-btn > i {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-main);
  }

  .nav-bar .mobile-ani {
    display: none;
  }
}
