/* Normalize_area */
* {
  font-family: "Libre Baskerville", serif;
  user-select: none;
  cursor: none;
}

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mouseCursor_area */
.mouseCursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouseCursor > i {
  font-size: 30px;
}

/* workSection_area */
.workSection {
  z-index: -1;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12%;
}

/* workBox_area */
.workSection > .workBox {
  width: 40%;
}

.workBox .workTitle {
  color: #9b7e4b;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 20px;
}

.workBox .sliderBanner {
  position: relative;
  width: 100%;
  margin-top: 80px;
  text-align: center; /* lpRecord를 가운데 정렬하기 위한 설정 */
}

/* lpCase_area */
.sliderBanner > .lpCase {
  z-index: 1;
  position: absolute;
  right: 100px;
}

.lpCase .slide-show img {
  width: 95%;
  height: 220px;
  border: 5px solid #9b7e4b;
}

/* lpBox_area */
.workSection .lpBox {
  width: 230px;
  height: 230px;
  margin-top: 50px;
  display: inline-block;
}

.lpBox .main {
  position: relative;
}

.lpBox .slide-show {
  height: 250px;
  transform: translateX(-50%);
}

/* lpRecord_area */
.lpRecord > img {
  width: 100%;
  border-radius: 50%;
  transition: 0.5s transform;
}

.lpRecord:hover > img {
  transform: translateX(60px);
}

/* arrows_area */
.arrows > .btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(400%);
  right: calc(80%);
  font-size: 2rem;
  color: #9b7e4b;
}

.btn-arrow:hover {
  transform: translateY(410%);
}

.btn-arrow:active {
  color: #ffce78; 
}

.btn-arrow.btn-arrow-right {
  /* 오른쪽 화살표 CSS */
  left: calc(80%);
  right: auto;
}

/* showBox_area */
.workSection > .workShow {
  width: 60%;
  background-color: #f4f2ec;
  border: 5px solid #9b7e4b;
  border-radius: 25px;
}

.showBox {
  width: 80%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.showBox .slide-show {
  width: 100%;
}

.showBox .slide-show > div {
  height: 700px;
  border-radius: 25px;
}

.showBox .slide-show img {
  width: 100%;
  height: 450px;
}

.showBox .slide-show button {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  color: #f4f2ec;
  background-color: #453630;
  border: 0;
  border-radius: 10px;
}

.showBox .slide-show button:hover {
  transform: translateY(5px);
}

.showBox .descriptionBox {
  display: inline-block;
  width: 65%;
  margin-left: 245px;
  height: 60px;
}

.showBox h3,
p {
  font-family: "Noto Serif KR", serif;
  color: black;
  display: inline;
  font-weight: bold;
}

.showBox h3 {
  margin-left: 40px;
  font-size: 1.4rem;
}

.showBox p {
  font-size: 1.1rem;
}

/* media */
@media screen and (max-aspect-ratio: 11/6) {
  .workBox .lpCase {
    left: 50%;
    right: 50%;
  }
}

@media screen and (max-aspect-ratio: 9/6) {
  .workShow {
    width: 50%;
  }

  .showBox button {
    margin-left: 0;
  }

  .descriptionBox {
    margin-left: 175px;
  }

  .showBox h3 {
    margin-left: 22px;
    font-size: 1.2rem;
  }

  .showBox p {
    font-size: 0.95rem;
  }
}


@media screen and (max-aspect-ratio: 7/6) {
  .workSection {
    display: block;
  }

  .workBox {
    height: 500px;
  }

  .workBox .lpBox {
    margin-top: 0;
  }

  .workSection > .workShow {
    width: 70%;
    margin: 0 auto;
    background: none;
  }

  .showBox {
    height: 150px;
  }

  .showBox .slide-show {
    margin-top: 0;
    border: 1px solid red;
  }

  .showBox .slide-show img {
    display: none;
  }

  .showBox .slide-show button {
    color: white;
    background-color: #9b7e4b;
    border: 0;
    margin-top: 0;
    margin-left: 5px;
    width: 90px;
    height: 40px;
  }

  .showBox .slide-show h3 {
    display: inline-block;
    margin-top: 10px;
    margin-left: 80px !important;
    font-size: 1rem;
    color: #9b7e4b;
  }

  .showBox .slide-show p {
    font-size: 1rem;
    color: #9b7e4b;
  }

  .descriptionBox {
  }
}

@media screen and (max-aspect-ratio: 5/6) {
  .workSection > .workShow {
    width: 100%;
  }
}

