/* Normalize-area */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Libre Baskerville", serif;
  user-select: none;
}

/* mobileScreenMedia */
/* navBar-area */
.nav-bar {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 110px;
  display: flex;
  transition: height 0.5s;
  background-color: white;
}

.nav-bar > .box-group {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

/* 모바일 버전 메뉴바 축소를 위한 CSS */
.nav-bar > .box-group:nth-child(1),
.nav-bar > .box-group:nth-child(2),
.nav-bar > .box-group:nth-child(3),
.nav-bar > .box-group:nth-child(5) {
  display: none;
}

/* white-box-area */
.nav-bar .white-box {
  position: relative;
  flex-grow: 1;
  border: 2px solid #453630;
  border-top: 0 solid #453630;
  width: 100%;
  height: 100%;
  background-color: #f4f2ec;
}

.nav-bar .white-box:hover {
  background: linear-gradient(to bottom, #dedede, #ababab);
}

/* black-box-area */
.nav-bar .black-box {
  position: absolute;
  width: 9%;
  height: 50%;
  background-color: #453630;
  top: 1;
}

/* black-box 위치 지정 CSS */
.nav-bar .black-box:nth-child(8) {
  left: 9.97%;
}

.nav-bar .black-box:nth-child(9) {
  left: 23.9%;
}

.nav-bar .black-box:nth-child(10) {
  left: 52.5%;
}

.nav-bar .black-box:nth-child(11) {
  left: 66.8%;
}

.nav-bar .black-box:nth-child(12) {
  left: 80.8%;
}

/* button-area */
.nav-bar .white-box > button {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 3%;
  width: 95%;
  height: 40px;
  border: none;
  background-color: #453630;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.nav-bar .white-box > button:hover {
  background-color: #ababab;
  border: 1px solid #ababab;
}

.nav-bar .white-box > button:hover > i {
  color: #9b7e4b;
  transition: color 0.3s;
}

/* mobile-btn-area */
.nav-bar .white-box .mobile-btn {
  display: block;
}

.mobile-btn .mobile-btn-text {
  color: #fff;
  font-size: 1.2em;
}

.mobile-btn:hover .mobile-btn-text {
  color: #9b7e4b;
}

/* tabletScreenMedia */
@media all and (min-width: 768px) {
  .nav-bar > .box-group:nth-child(2) {
    display: flex;
  }
}

/* PCScreenMedia */
@media all and (min-width: 1024px) {
  .nav-bar .white-box > .mobile-btn {
    height: 43px;
  }
}
/* large-pc-screen-media */
@media all and (min-width: 1440px) {
  .nav-bar:hover {
    height: 200px;
  }

  .nav-bar > .box-group:nth-child(1),
  .nav-bar > .box-group:nth-child(5) {
    display: flex;
  }

  .nav-bar > .box-group:nth-child(3),
  .nav-bar > .box-group:nth-child(4) {
    display: flex;
    width: 130%;
  }

  .nav-bar .white-box .mobile-btn {
    display: none;
  }

  .nav-bar .white-box .pc-btn {
    display: block;
    border-radius: 50%;
  }

  .nav-bar .btn-text {
    width: 100%;
    position: absolute;
    left: -1.5px;
    top: -18px;
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    visibility: hidden;
    transition: color 0.3s, visibility 0.5s, transform 0.5s;
  }

  .nav-bar .white-box > .pc-btn:hover .btn-text {
    justify-content: center;
    visibility: visible;
    transform: translateY(-15px);
    color: #9b7e4b;
  }

  .nav-bar .white-box > .pc-btn > i {
    font-size: 1.3rem;
    text-align: center;
    color: #f4f2ec;
  }
}
