/* normalize-area */
* {
  font-family: "Libre Baskerville", serif;
  user-select: none;
  cursor: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #453630;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* 화면 전환 CSS */
  animation: fadein 2000ms ease-out;
  -moz-animation: fadein 2000ms ease-out; /* Firefox */
  -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
  -o-animation: fadein 2000ms ease-out; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mouse-cursor-area */
.mouse-cursor {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  color: #9b7e4b;
  transform: translate(-50%, -50%);
}

.mouse-cursor > i {
  font-size: 30px;
}

/* .skills-section-area */
.skills-section {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 17%;
}

/* skills-header-area */
.skills-section > .skills-header {
  width: 35%;
  height: 60px;
  text-align: center;
  color: #9b7e4b;
  font-size: 1.7rem;
  margin: 0 auto;
  border-bottom: 1px solid #9b7e4b;
}

.skills-header > div {
  width: 100%;
  height: 4px;
  border-top: 3px solid #9b7e4b;
}

/* skills-article-area */
.skills-section .skills-article {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.skills-article > .note-box {
  display: flex;
  width: 85%;
  height: 160px;
  border-top: 2px solid #9b7e4b;
  margin-top: 3.5%;
  margin-left: auto;
  margin-right: auto;
}

.skills-article .note-box-row {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 7px solid #9b7e4b;
}

.note-box-row:nth-child(4) {
  display: none;
}

.note-box-row:nth-child(5) {
  display: none;
}

.skills-article .note-box-col {
  position: relative;
  flex: 1;
  width: 100%;
  border-bottom: 2px solid #9b7e4b;
}

.skills-article .note-box-title {
  color: #9b7e4b;
  font-size: 0.8rem;
  font-weight: bold;
  transform: translateY(-17px);
}

.skills-article .img-icon {
  z-index: 1;
  position: absolute;
  width: 40px;
  height: 40px;
}

.img-icon > img {
  width: 100%;
  height: 100%;
}

/* icon-area */
.html-icon {
  left: 10%;
  top: -12px;
}

.css-icon {
  left: 40%;
  top: -12px;
}

.dbms-icon {
  left: 10%;
  top: -6px;
}

.git-icon {
  left: 10%;
  top: 12px;
}

.js-icon {
  left: 110%;
}

.react-icon {
  left: 60%;
}

.linux-icon {
  left: 110%;
}

.github-icon {
  left: 110%;
}

.r-icon {
  left: 60%;
}

/* note-last-line-area */
.note-box > .note-last-line {
  position: relative;
  border-right: 10px solid #9b7e4b;
}

.note-box .note-line {
  position: absolute;
  height: 160px;
  right: 12%;
  border-right: 4px solid #9b7e4b;
}

@media all and (min-width: 768px) {
}

@media all and (min-width: 1440px) {
  .skills-article > .note-box {
    width: 95%;
  }

  .note-box-row:nth-child(4) {
    display: flex;
  }

  .note-box-row:nth-child(5) {
    display: flex;
  }

  .note-box .note-box-title {
    font-size: 1.1rem;
    transform: translateY(-25px);
  }

  .note-box .img-icon {
    width: 50px;
    height: 50px;
  }

  /* icon-area */
  .js-icon {
    left: 75%;
    top: 8px;
  }

  .react-icon {
    left: 10%;
    top: 17px;
  }

  .linux-icon {
    left: 75%;
    top: 40px;
  }

  .github-icon {
    left: 75%;
    top: 12px;
  }

  .r-icon {
    left: 10%;
    top: 75px;
  }

  .note-box .note-line {
    right: 6%;
    border-right: 6px solid #9b7e4b;
  }
}
